//
// Customized styles for Libre Solar website (overwriting default theme)
//

:root {
  // brand colors
  --vp-c-brand: #005e85;
  --vp-c-brand-light: #005e85;

  // accent colors
  --vp-c-accent: #005e85;
  --vp-c-accent-bg: #005e85;
  --vp-c-accent-hover: #005e85;

  // background colors
  --vp-c-bg: #ffffff;
  --vp-c-bg-light: #f3f4f5;
  --vp-c-bg-lighter: #eeeeee;
  --vp-c-bg-navbar: var(--c-bg-light);

  // border colors
  --vp-c-border: #cfcfcf;
  --vp-c-border-dark: #dfe2e5;

  // layout vars
  --navbar-height: 4rem;
}

.vp-navbar {
  background-color: #005e85;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
  border: none;

  .site-name {
    color: white;
    display: none;
  }

  .vp-navbar-items-wrapper {
    font-size: 1.1rem;
    background-color: #005e85;
    color: white;
  }

  .vp-navbar-items {
    a {
      &:hover,
      &.route-link-active {
        color: white;
        margin-bottom: -2px;
        border-bottom: 2px solid white;
      }
      &:after {
        content: none;
      }
    }
  }

  .vp-navbar-item > a:not(.external) {
    &:hover,
    &.route-link-active {
      margin-bottom: -2px;
      border-bottom: 2px solid white;
    }
  }
}

.vp-dropdown-wrapper {
  .dropdown-title {
    font-size: inherit;
    color: inherit;
  }
  .nav-dropdown {
    background-color: #005e85;
    .dropdown-item {
      color: inherit;
      line-height: 2.0rem;
      a {
        &:hover {
          color: rgb(199, 199, 199);
        }
      }
    }
  }
}

.vp-site-name {
  display: none;
}

.toggle-sidebar-button {
  color: white;
}

.fade-slide-y-enter-active {
  transition: all 0.2s ease;
}

.fade-slide-y-leave-active {
  transition: all 0.2s ease;
}

.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
  transform: none;
  opacity: 0;
}
